body {
  background-color: #F3FAFC;
  border-top: 10px solid #424242;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif
}

h1 {
  color: #424242;
  font-size: 56px;
  text-align: center;
}
.logo img {
  width: 50px;
  height: auto;
  margin-right: 0.5em;
}
.computer img {
  text-align: center;
  margin-top: 20px;
}
.computer img {
  width: 100px;
  height: auto;
}

p {
  line-height: 1.4em;
}