body {
  background-color: #F3FAFC;
  border-top: 10px solid #424242;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #424242;
  font-size: 56px;
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.logo img {
  width: 50px;
  height: auto;
}

.computer {
  display: flex;
  justify-content: center;
}

.computer img {
  display: block;
  margin: 20px auto;
  width: 700px;
  height: auto;  
}

.grey-boxes {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.grey-box {
  background-color: #E9EAEC;
  width: 350px;
  height: 400px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

p {
  color: #424242;
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;