body {
  background-color: #F3FAFC;
  border-top: 10px solid #424242;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif
}

h1 {
  color: #424242;
  font-size: 56px;
  text-align: center;
}

p {
  line-height: 1.4em;
}